@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Roboto+Mono&display=swap');

:root {
    --red: #f96464;
    --orange-dark: #f99664;
    --orange: #f9b164;
    --yellow: #f9de64;
    --yellow-green: #e3f964;
    --green-light: #98f964;
    --green: #64f96e;
    --green-blue: #64f9b3;
    --blue-very-light: #bfdef2;
    --blue-light: #64eff9;
    --blue: #64ccf9;
    --blue-dark: #2c0b8e;
    --blue-purple: #649df9;
    --purple: #7064f9;
    --purple-light: #bb64f9;
    --purple-pink: #f464f9;
    --pink: #f964ac;
    --pink-red: #f9647f;
    --white: #fff;
    --black: #000;
    --gray-dark: #6b6b6b;
    --gray: #ababab;
    --gray-light: #e0dede;
    --silver: #C0C0C0;
    --darkslategray: #2F4F4F;
    --slategray: #708090;
    --gray-very-light: #fbf7f3;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    
}

/* -----navigation----- */

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}

nav a {
    text-decoration: none;
    margin: 1rem .5rem;
    color: var(--purple);
    font-size: 24px;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 1rem .5rem;
}

nav ul li a {
    color: var(--black);
    padding: .5rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
    transition: all .3s ease-in-out;
}

nav ul li a:hover {
    background: var(--gray-light);
}

/* -----main----- */

.hero {
    margin: 12em 0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-family: 'Roboto Mono', monospace;
}

.container h1 {
    background-image: linear-gradient(45deg,#ff0a78,#43f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.container p {
    font-size:  30px;
}

.container a {
    text-decoration: none;
    background-color: var(--purple);
    padding: .5rem 1.5rem;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: var(--white);
    transition: all .2s ease-in-out; 
    font-size: 24px;
}

.container a:hover {
     box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.container a:focus {
     box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* -----about me------ */

.hero2 {
    background-color: var(--gray-light);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--blue-dark);
    font-size: 18px;   
    text-align: center;
}

.hero2 a {
    color: var(--blue-purple);
    text-decoration: none;
}

.hero2 a:hover {
    color: var(--blue-dark);
}

/* -----Projects----- */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
}

.projects h2 {
    color: var(--blue-dark);
}

.projects-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.project-wrapper {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all .5s ease-in-out;
}

.project-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.project-wrapper a img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.project-wrapper h3 a{
    font-size: 28px;
    text-decoration: none;
    text-align: center;
    color: var(--blue-dark);
    transition: all .3s ease-in-out;
}

.project-wrapper h3 a:hover {
    color: var(--blue-purple);
}

.project-wrapper p {
    overflow: scroll;
    text-align: justify;
    padding: 0 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 8px;
}

/* -----footer----- */

footer {
    display: flex;
    justify-content: flex-start;
    background-color: var(--blue-very-light);
    gap: 17rem;
    padding: 2rem;
}

/* -----footer left------ */

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-left h4 {
    text-decoration: none;
    color: var(--purple);
    font-size: 18px;
}

.link-icons {
    display: flex;
    gap: 0 1rem;
}

 .link-icons a {
    font-size: 20px;
    color: var(--black);
    transition: all .4s ease-in-out;
}

.link-icons a:hover {
    color: var(--purple);
    transform: scale(1.2);
}

.footer-left p {
    font-size: 14px;
}

/* -----footer right----- */

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-right ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-right ul li a {
    color: var(--black);
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.footer-right ul li a:hover {
    color: var(--purple);
}

/* -----screens----- */

@media screen and (max-width: 769px){
    footer {
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .footer-left p {
        font-size: 12px;
    }
}

@media screen and (max-width: 489px){
    nav {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        margin: 5em 1rem;
}

    .container h1 {
        font-size: 24px;
}

    .container p {
        font-size: 18px;
    }
    
    .projects {
        margin: .5rem 1rem;
    }

    .projects p {
        text-align: center;
    }

    .project-wrapper p {
        text-align: justify;
    }

    footer {
        margin-top: 2rem;
    }
}